.first-row{margin-top: 50px;}	
.txt-a-r{text-align: right;}
.fl-r{float: right;}
.m-t{
	margin-top: 20px;
}


.my-row{
	position: relative;
}

.my-row > .my-col-10{
 width: 80%;
}
.my-row > .my-col-2{
 width: 20%;
}
.preview {
	margin-right: 10px;
}

#radio-scroll{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 150px; 
}
.max-h-scroll{
	max-height: 50px;
    display: block;
    overflow-y: scroll;
}
.c-red{
	color: green;
}